@layer utilities {
    .scrollbar {
        --_track-color: rgb(var(--surface-rgb));
        --_thumb-color: rgb(var(--surface-rgb));
        --_size: 4px;
        --_radius: 4px;

        scrollbar-color: var(--_thumb-color) var(--_track-color);
        scrollbar-width: thin;
        transition-property: scrollbar-color;
        transition-duration: 0.1s;
        transition-timing-function: ease-in;

        &:hover {
            --_thumb-color: rgb(var(--surface-variant-rgb));
        }

        &::-webkit-scrollbar {
            width: var(--_size);
            height: var(--_size);
        }

        &::-webkit-scrollbar-track {
            background: var(--_track-color);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--_thumb-color);
            border-radius: var(--_radius);
            border: calc(var(--_size) / 2) solid var(--_track-color);
        }

        &::-webkit-scrollbar-corner {
            background: var(--_track-color);
        }
    }

    .scrollbar-stable {
        scrollbar-gutter: stable;
    }
}
