@import "https://unpkg.com/open-props/easings.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply scrollbar ;
    }

    .v-enter-active,
    .v-leave-active {
        transition: opacity 0.3s ease;
    }

    .v-enter-from,
    .v-leave-to {
        opacity: 0;
    }
}

@layer utilities {
    .scrollbar {
        --_track-color: rgb(var(--surface-rgb));
        --_thumb-color: rgb(var(--surface-rgb));
        --_size: 4px;
        --_radius: 4px;

        scrollbar-color: var(--_thumb-color) var(--_track-color);
        scrollbar-width: thin;
        transition-property: scrollbar-color;
        transition-duration: 0.1s;
        transition-timing-function: ease-in;

        &:hover {
            --_thumb-color: rgb(var(--surface-variant-rgb));
        }

        &::-webkit-scrollbar {
            width: var(--_size);
            height: var(--_size);
        }

        &::-webkit-scrollbar-track {
            background: var(--_track-color);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--_thumb-color);
            border-radius: var(--_radius);
            border: calc(var(--_size) / 2) solid var(--_track-color);
        }

        &::-webkit-scrollbar-corner {
            background: var(--_track-color);
        }
    }

    .scrollbar-stable {
        scrollbar-gutter: stable;
    }
}

@layer components {
    .v-input {
        /* Custom */
        --input-inline-size: 100%;
        --input-block-size: 100%;
        --input-min-width: 80px;
        --input-min-height: 40px;

        --input-padding-x: 6px;
        --input-padding-y: 8px;

        --input-border-radius: 4px;
        --input-border-width: 1px;
        --input-border-color: rgb(var(--outline-rgb));
        --input-border: solid var(--input-border-width) var(--input-border-color);

        --input-background-color: rgb(var(--surface-rgb));
        --input-text-color: rgb(var(--on-surface-rgb));
        --input-placeholder-color: rgb(var(--on-surface-rgb) / 0.5);

        --input-text-align: center;

        padding-inline: var(--input-padding-x);
        padding-block: var(--input-padding-y);
        border-radius: var(--input-border-radius);
        border: var(--input-border);
        background-color: var(--input-background-color);
        color: var(--input-text-color);
        text-align: var(--input-text-align);
        accent-color: rgb(var(--primary-rgb));
        @apply text-body-lg;

        &:focus-visible {
            --input-border-color: rgb(var(--primary-rgb));
            --input-border: solid var(--input-border-width) var(--input-border-color);
            outline: none;
        }

        &::placeholder {
            color: var(--input-placeholder-color);
        }
    }

    .v-input-type-number {

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type="number"] {
            -moz-appearance: textfield;
        }

        &[type="number"]::-webkit-outer-spin-button,
        &[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

@layer components {
    .outlined-button {
        @apply relative size-fit overflow-clip rounded-3xl border border-primary bg-transparent px-6 py-3;
        @apply text-center text-label-lg font-medium leading-none;
        @apply after:absolute after:inset-0 after:z-0 after:bg-transparent;
        @apply hover:after:bg-surface-level-1 focus-visible:after:bg-surface-level-3 active:after:bg-surface-level-2;
    }

    .filled-button {
        @apply relative size-fit overflow-clip rounded-3xl bg-primary text-on-primary px-6 py-3;
        @apply text-center text-label-lg font-medium leading-none;
        @apply after:absolute after:inset-0 after:z-0 after:bg-transparent;
        @apply hover:after:bg-surface-level-1 focus-visible:after:bg-surface-level-3 active:after:bg-surface-level-2;
    }

    .text-button {
        @apply relative size-fit overflow-clip rounded-3xl bg-transparent px-6 py-3;
        @apply text-center text-label-lg font-medium leading-none;
        @apply after:absolute after:inset-0 after:z-0 after:bg-transparent;
        @apply hover:after:bg-surface-level-1 focus-visible:after:bg-surface-level-3 active:after:bg-surface-level-2;
    }

    .filled-tonal-button {
        @apply relative size-fit overflow-clip rounded-3xl bg-tonal-1 px-6 py-3;
        @apply text-center text-label-lg font-medium leading-none;
        @apply after:absolute after:inset-0 after:z-0 after:bg-transparent;
        @apply hover:after:bg-surface-level-1 focus-visible:after:bg-surface-level-3 active:after:bg-surface-level-2;
    }

    .numeric-text-input {
        @apply relative overflow-clip border-none bg-transparent text-end text-body-lg tabular-nums outline-none;
        @apply after:absolute after:inset-0 after:z-0 after:bg-transparent;
        @apply hover:after:bg-surface-level-1 focus-visible:after:bg-surface-level-2 active:after:bg-surface-level-3;
    }
}
