:root {
    --primary-rgb: 113 215 211;
    --secondary-rgb: 168 206 203;
    --tertiary-rgb: 219 184 255;
    --neutral-rgb: 115 120 119;
    --neutral-variant-rgb: 109 121 120;
    --background-rgb: 15 20 20;
    --on-background-rgb: 223 227 226;
    --surface-rgb: 15 20 20;
    --surface-dim-rgb: 15 20 20;
    --surface-bright-rgb: 53 58 58;
    --surface-container-lowest-rgb: 10 15 15;
    --surface-container-low-rgb: 23 29 28;
    --surface-container-rgb: 27 33 32;
    --surface-container-high-rgb: 38 43 42;
    --surface-container-highest-rgb: 49 54 53;
    --on-surface-rgb: 229 234 233;
    --surface-variant-rgb: 61 73 72;
    --on-surface-variant-rgb: 189 201 200;
    --inverse-surface-rgb: 223 227 226;
    --inverse-on-surface-rgb: 44 49 49;
    --outline-rgb: 141 154 152;
    --outline-variant-rgb: 100 112 111;
    --shadow-rgb: 0 0 0;
    --scrim-rgb: 0 0 0;
    --surface-tint-rgb: 113 215 211;
    --on-primary-rgb: 0 38 37;
    --primary-container-rgb: 0 125 122;
    --on-primary-container-rgb: 255 255 255;
    --inverse-primary-rgb: 0 92 90;
    --on-secondary-rgb: 0 38 37;
    --secondary-container-rgb: 80 116 114;
    --on-secondary-container-rgb: 255 255 255;
    --on-tertiary-rgb: 46 15 79;
    --tertiary-container-rgb: 131 99 165;
    --on-tertiary-container-rgb: 255 255 255;
    --error-rgb: 255 180 171;
    --on-error-rgb: 75 0 2;
    --error-container-rgb: 208 44 39;
    --on-error-container-rgb: 255 255 255;
    --primary-fixed-rgb: 142 243 239;
    --primary-fixed-dim-rgb: 113 215 211;
    --on-primary-fixed-rgb: 0 32 31;
    --on-primary-fixed-variant-rgb: 0 72 71;
    --secondary-fixed-rgb: 196 234 231;
    --secondary-fixed-dim-rgb: 168 206 203;
    --on-secondary-fixed-rgb: 0 32 31;
    --on-secondary-fixed-variant-rgb: 34 70 68;
    --tertiary-fixed-rgb: 239 219 255;
    --tertiary-fixed-dim-rgb: 219 184 255;
    --on-tertiary-fixed-rgb: 41 8 73;
    --on-tertiary-fixed-variant-rgb: 80 50 112;
    --primary-light-rgb: 0 86 84;
    --secondary-light-rgb: 47 83 81;
    --tertiary-light-rgb: 93 63 126;
    --neutral-light-rgb: 115 120 119;
    --neutral-variant-light-rgb: 109 121 120;
    --background-light-rgb: 246 250 249;
    --on-background-light-rgb: 23 29 28;
    --surface-light-rgb: 246 250 249;
    --surface-dim-light-rgb: 214 219 218;
    --surface-bright-light-rgb: 246 250 249;
    --surface-container-lowest-light-rgb: 255 255 255;
    --surface-container-low-light-rgb: 240 244 243;
    --surface-container-light-rgb: 234 239 238;
    --surface-container-high-light-rgb: 229 233 232;
    --surface-container-highest-light-rgb: 223 227 226;
    --on-surface-light-rgb: 23 29 28;
    --surface-variant-light-rgb: 217 229 227;
    --on-surface-variant-light-rgb: 61 73 72;
    --inverse-surface-light-rgb: 44 49 49;
    --inverse-on-surface-light-rgb: 237 242 240;
    --outline-light-rgb: 95 107 106;
    --outline-variant-light-rgb: 136 148 147;
    --shadow-light-rgb: 0 0 0;
    --scrim-light-rgb: 0 0 0;
    --surface-tint-light-rgb: 0 106 103;
    --on-primary-light-rgb: 255 255 255;
    --primary-container-light-rgb: 0 130 127;
    --on-primary-container-light-rgb: 255 255 255;
    --inverse-primary-light-rgb: 113 215 211;
    --on-secondary-light-rgb: 255 255 255;
    --secondary-container-light-rgb: 116 153 151;
    --on-secondary-container-light-rgb: 0 0 0;
    --on-tertiary-light-rgb: 255 255 255;
    --tertiary-container-light-rgb: 134 103 169;
    --on-tertiary-container-light-rgb: 255 255 255;
    --error-light-rgb: 158 0 11;
    --on-error-light-rgb: 255 255 255;
    --error-container-light-rgb: 255 87 76;
    --on-error-container-light-rgb: 0 0 0;
    --primary-fixed-light-rgb: 0 130 127;
    --primary-fixed-dim-light-rgb: 0 103 101;
    --on-primary-fixed-light-rgb: 255 255 255;
    --on-primary-fixed-variant-light-rgb: 255 255 255;
    --secondary-fixed-light-rgb: 87 123 121;
    --secondary-fixed-dim-light-rgb: 63 98 96;
    --on-secondary-fixed-light-rgb: 255 255 255;
    --on-secondary-fixed-variant-light-rgb: 255 255 255;
    --tertiary-fixed-light-rgb: 134 103 169;
    --tertiary-fixed-dim-light-rgb: 109 78 143;
    --on-tertiary-fixed-light-rgb: 255 255 255;
    --on-tertiary-fixed-variant-light-rgb: 255 255 255;
    --primary-dark-rgb: 113 215 211;
    --secondary-dark-rgb: 168 206 203;
    --tertiary-dark-rgb: 219 184 255;
    --neutral-dark-rgb: 115 120 119;
    --neutral-variant-dark-rgb: 109 121 120;
    --background-dark-rgb: 15 20 20;
    --on-background-dark-rgb: 223 227 226;
    --surface-dark-rgb: 15 20 20;
    --surface-dim-dark-rgb: 15 20 20;
    --surface-bright-dark-rgb: 53 58 58;
    --surface-container-lowest-dark-rgb: 10 15 15;
    --surface-container-low-dark-rgb: 23 29 28;
    --surface-container-dark-rgb: 27 33 32;
    --surface-container-high-dark-rgb: 38 43 42;
    --surface-container-highest-dark-rgb: 49 54 53;
    --on-surface-dark-rgb: 229 234 233;
    --surface-variant-dark-rgb: 61 73 72;
    --on-surface-variant-dark-rgb: 189 201 200;
    --inverse-surface-dark-rgb: 223 227 226;
    --inverse-on-surface-dark-rgb: 44 49 49;
    --outline-dark-rgb: 141 154 152;
    --outline-variant-dark-rgb: 100 112 111;
    --shadow-dark-rgb: 0 0 0;
    --scrim-dark-rgb: 0 0 0;
    --surface-tint-dark-rgb: 113 215 211;
    --on-primary-dark-rgb: 0 38 37;
    --primary-container-dark-rgb: 0 125 122;
    --on-primary-container-dark-rgb: 255 255 255;
    --inverse-primary-dark-rgb: 0 92 90;
    --on-secondary-dark-rgb: 0 38 37;
    --secondary-container-dark-rgb: 80 116 114;
    --on-secondary-container-dark-rgb: 255 255 255;
    --on-tertiary-dark-rgb: 46 15 79;
    --tertiary-container-dark-rgb: 131 99 165;
    --on-tertiary-container-dark-rgb: 255 255 255;
    --error-dark-rgb: 255 180 171;
    --on-error-dark-rgb: 75 0 2;
    --error-container-dark-rgb: 208 44 39;
    --on-error-container-dark-rgb: 255 255 255;
    --primary-fixed-dark-rgb: 142 243 239;
    --primary-fixed-dim-dark-rgb: 113 215 211;
    --on-primary-fixed-dark-rgb: 0 32 31;
    --on-primary-fixed-variant-dark-rgb: 0 72 71;
    --secondary-fixed-dark-rgb: 196 234 231;
    --secondary-fixed-dim-dark-rgb: 168 206 203;
    --on-secondary-fixed-dark-rgb: 0 32 31;
    --on-secondary-fixed-variant-dark-rgb: 34 70 68;
    --tertiary-fixed-dark-rgb: 239 219 255;
    --tertiary-fixed-dim-dark-rgb: 219 184 255;
    --on-tertiary-fixed-dark-rgb: 41 8 73;
    --on-tertiary-fixed-variant-dark-rgb: 80 50 112;
}
